@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

$assistant: 'Assistant', sans-serif;
$myriadPro: 'MyriadPro', sans-serif;
$segoeEmoji: 'Segoe UI Emoji', sans-serif;

@include font('MyriadPro', 'MyriadPro-Regular', 400, normal);
@include font('Segoe UI Emoji', 'seguiemj', 400, normal);
