.header {
	position: relative;
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10px 10px;
	margin-right: 12px; // delete
	box-shadow: 0 0 5px rgba($black, .15);
	z-index: 3;

	&__controls {
		display: flex;
		margin-left: auto;
		margin-right: 50px;
	}

	&__control {
		position: relative;
		display: flex;
		align-items: center;

		&--feedback {
			margin-right: 37px;
		}
	}

	&__control-text {
		display: inline-block;
		@extend %text--semimedium;
		color: $midGray;
		transition: color .25s ease;

		&:hover {
			color: $turquoise;
		}

		&--feedback {
			padding-left: 14px;
		}

		&--help {
			padding-left: 12px;
		}
	}

	&__btn {
		position: relative;
		display: flex;
		align-items: center;
	}

	&__user {
		@extend %text--semimedium;
		font-family: $segoeEmoji;
		margin-right: 10px;
		color: $darkGray;
	}

	&__wrap {
		display: flex;
	}

	&__icon {
		margin-right: 8px;
	}

	&__list {
		position: absolute;
		top: 30px;
		right: 5px;
		display: none;
		width: 100%;
		background: $white;
		box-shadow: 0 0 2px 0 rgba($black, .15);
		padding: 10px 20px;
	}

	&__item {
		text-align: left;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__link {
		@extend %text--semimedium;
		color: $darkGray;
		transition: color .25s ease;

		&:hover {
			color: $turquoise;
		}
	}
}
