header.header
	a.logo(href="#")
		picture.logo__img.logo__img--main.img
			img.img__item(src="img/logo.png" alt="logo")
	.header__controls
		a.header__control.header__control--feedback(href="#")
			| Feedback
		a.header__control.header__control--help(href="#")
			| Help
	.header__user
		span.header__name
			| John Johnson
		button.header__btn
			svg.icon.icon--arrow
				use.icon__item(xlink:href='#arrow')
		picture.logo__img.logo__img--single.img
			img.img__item(src="img/logo-single.png" alt="logo-single")
