header.header
	a.logo(href="#")
		picture.logo__img.logo__img--main.img
			img.img__item(src="img/logo.png" alt="logo")
	button#burger.header__burger(type="button")
		small.header__line
	nav.controls.controls--desktop
		a.controls__item.controls__item--feedback(href="#")
			svg.icon.icon--feedback
				use.icon__item(xlink:href='#feedback')
			span.controls__name.controls__name--feedback
				| Feedback
		a.controls__item.controls__item--help(href="#")
			svg.icon.icon--help
				use.icon__item(xlink:href='#help')
			span.controls__name.controls__name--help
				| Help
	.header__wrap
		button#showSettings.header__btn(type="button")
			span.header__user
				| John Johnson
			.header__icon
				svg.icon.icon--arrow
					use.icon__item(xlink:href='#arrow')

			- const settings = ['Edit', 'Settings', 'Sing out'];
			
			ul.header__list
				each item in settings
					li.header__item
						a.header__link(href="#")
							!=item

		picture.logo__img.logo__img--single.img
			img.img__item(src="img/logo-single.png" alt="logo-single")
