doctype html
html(lang='ru')
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(http-equiv="Cache-control" content="max-age=31536000, public")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no")

		block title
			
		include favicon

		link(rel="stylesheet" href="style.min.css")

		script(defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js")
		script(defer src="js/script.min.js")
	body
		include sprite
		include ../mixins/picture.pug

		block content
