.modal
	nav.controls.controls--mobile
		a.controls__item.controls__item--feedback(href="#")
			svg.icon.icon--feedback
				use.icon__item(xlink:href='#feedback')
			span.controls__name.controls__name--feedback
				| Feedback
		a.controls__item.controls__item--help(href="#")
			svg.icon.icon--help
				use.icon__item(xlink:href='#help')
			span.controls__name.controls__name--help
				| Help
