svg(xmlns="http://www.w3.org/2000/svg" width="0" height="0" style="position:absolute;" aria-hidden="true" focusable="false")
	symbol#step2(viewBox="0 0 16 14")
		image(width="16" height="14" id="a" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAYAAAAmL5yKAAABvklEQVQ4T42SvWsUURTFf2eWTXZmNyikU0gWQfAfMBYWWkk0AZsgQgQLEUVFIjZaRbuATUQTEFGQEAI2YqGgIIFgJRapbfwilYhF2JnIsnPkDTuyrFnwFq9457zz7r3nKLXHMJ+AYf6nzP2kormSKttJlnPPUO97L4lZYNvwEbOFOCwYj8WopN+Br3Ck9n5BtRTowE4FajafETcSabHLO4tZs5iqS68Lgcw+Z7PyT/fiFmYhF5MN6U3Af9l7h80PmcdxRVdKgaZzrgNRj0hbEds2dxHjifStxNLc68DBXEw3pM1ihN2q1fFTiTNJpEYvntrXMA+KO3FTaceLiGYvSeKFzSWgGouJLGcBMQO0EcvAd8xt4IDS3F+BsV4BmycSMzYvJQ4BE334M+CLxPyuI7TsfTJbhreCE8BPxGnDqMzzkJnuJxfUsk+Sc6RvD02J88AOUJM4FksbgZPZ8zZ3Qj6AkbCDVcRUn0BwJCyv6DAWQ5La3Swcxbzv8j8MdMF2NYWLMksWl+vSo0Kg44eIqxLHa7AxUCCQbceZ2Qy+G94J9kAR51dxpOm/UR6UhTLmmCXgVLBRZrUWMScpDfgfjGyw5P7CKGkAAAAASUVORK5CYII=")
		use(href="#a")
	symbol#step1(viewBox="0 0 16 12")
		image(width="16" height="12" id="a1" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAu0lEQVQ4T63Sr0pEcRDF8c8BX8C+eY0WwTdYsCxiMiwGixgNBrEbtpqNChp8jkXfwGAUbFsXw8gPbtqw9/pn2jAzX85hTqrqAUc4SfIEVTXGAdL6DfWeqvrCFu6TzDrAHU57jtt41QCXOMRFkpcOsI3dAYDPPom9jKZghAmekyx7L9YWGuAVe3hMctxZOMfZANjHvwD+ZmGAzI0rzcIUV7hN0kLVgjT8jVW1wD7ekuz8Nkg3mCe5/mmUvwHwL1Y/jRK5CAAAAABJRU5ErkJggg==")
		use(href="#a1")
	symbol#step3(viewBox="0 0 14 14")
		image(width="14" height="14" id="a2" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABM0lEQVQ4T53STyjDcRjH8ffzVVK7OFIrSkmODg7SNrFWO8hpSQ4OTvvtohQ3R3G1oeTkQJSLg9Z+9Zufi9jRQSF/clpESdLa79HKisz62XN7Dq96nufziJVzr0C7+FfJtVi5IwXKIA/+rAaBpi8od5loqNMPtHLuLWiHb5iy3TEV7vHY9w0t2x1HdVvgRJF2XzCVdXrUmAIQUNUJEbP4A6LeDCLrYnQqPRw5rOw7m80G3k3LKdALspaJhpK/dhTROVV2gFfxvP50bOgiaee3RGUSKJjS2+BKPP5R8ziWnd9AZVrhUpAN0GXgRTz60rHwTWWKmnBh97z5sfXJQRioRqOejq7GIgfV/s84ko7TJiVzhhBEWMqMhOe/51s3R8s+7kbLkeJzcXMvkSjXgQ29XGNP/gm2LbxfNhoidgAAAABJRU5ErkJggg==")
		use(href="#a2")
	symbol#step4(viewBox="0 0 16 13")
		image(width="16" height="13" id="a3" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAYAAACgu+4kAAABS0lEQVQ4T6XSzSuEURTH8e+ZZ2aa0SiaoiwslD9Atoq9uU+ysrC18FZkr2dnQ5TkD7CShbr3rqwoW/kDlFgS0YgZ83b0LKbG20xxl7dfn87vdMQ59wDk+dt7FO/9vKr2AxPAGHDewWpmTkXkTpph51ykqithGPa0A6y1zyKyY4yJ4tw3oFwu57PZ7BrQ9QV6K5VKW5lM5rEtkE6nh6rV6i2Q+wK8plKpwUqlct0W+HeFGPDej6pqd+sEIvJSKBQuOu4gmUwO1+v1+58WGQRBX61Wu+pYwVo7LiK9rYiqPoVheNZxgriCqoqIaCsQRVEiiqJGWwBYBY6BaWAjl8ttF4vFVBAE66q6KCJ7jUZj7rcKu8ACkAAugRERuVHVNDDQ/APqwL4xZvnTIVlrD0RkBpg0xpx470NV3QTeVXUp7u+cmwKOgENjzGwMfAAHmseYIO2SBQAAAABJRU5ErkJggg==")
		use(href="#a3")
	symbol#arrow(viewBox="0 0 13 7")
		image(width="13" height="7" id="a5" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAHCAYAAADTcMcaAAAA8UlEQVQoU3XQsUrEQBSF4f9miqAQrHwLayV2QjIhsqlF8AFErJYtFC0VLWQrEXsFsY4YJgnYGbT2HSysJKCkSEYiLqwrnvbycThXtNavwFNd15tVVX3yT3zfn/M87wZYEa31FbAFPLiuO0jT9GPWJUky3zTNHbAGXAsgYRheiMg28Nh13XpZlu8TGATBguM498CqtfayKIqdHvWRKIrOrLVD4FkpNciy7C2O48W2bfuGZREZG2NGgJ2gb6m1PgIOgBel1EbbtrfAEnCc5/nhpP0X+oF7wMnUrv08z0+nd/5B/TGKol1r7VhEhsaY89nHfAGGKlA3fqDXEgAAAABJRU5ErkJggg==")
		use(href="#a5")
