.controls {
	display: flex;
	margin-left: auto;
	margin-right: 50px;

	@media screen and (max-width: 767px) {
		margin-right: 25px;
	}

	@media screen and (max-width: 499px) {
		&--desktop {
			display: none;
		}

		&--mobile {
			flex-flow: column;
			margin-right: 0;
			align-items: center;
			height: 100%;
			padding: 10% 25% 50%;
		}
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;

		&--feedback {
			margin-right: 37px;

			@media screen and (max-width: 767px) {
				margin-right: 20px;
			}

			@media screen and (max-width: 499px) {
				margin-right: 0;
				margin-bottom: 15px;
			}
		}
	}

	&__name {
		display: inline-block;
		@extend %text--semimedium;
		color: $midGray;
		transition: color .25s ease;

		@media screen and (max-width: 499px) {
			font-size: 18px;
		}

		&:hover {
			color: $turquoise;
		}

		&--feedback {
			padding-left: 14px;

			@media screen and (max-width: 767px) {
				padding-left: 10px;
			}
		}

		&--help {
			padding-left: 12px;

			@media screen and (max-width: 767px) {
				padding-left: 10px;
			}
		}
	}

}
