.icon {
	flex: 0 0 auto;

	&--feedback {
		width: 19px;
		height: 19px;
	}

	&--help {
		width: 16px;
		height: 16px;
	}

	&--arrow {
		width: 13px;
		height: 7px;
	}

	&--step {
		&-1 {
			width: 16px;
			height: 12px;
		}

		&-2 {
			width: 16px;
			height: 14px;
		}

		&-3 {
			width: 14px;
			height: 14px;
		}

		&-4 {
			width: 16px;
			height: 13px;
		}
	}

	&--point {
		flex-basis: 18px;

		&-1 {
			width: 18px;
			height: 17px;
		}

		&-2 {
			width: 15px;
			height: 17px;
		}

		&-3 {
			width: 18px;
			height: 18px;
		}

		&-4 {
			width: 18px;
			height: 13px;
		}

		&-5 {
			width: 19px;
			height: 17px;
		}

		&-6 {
			width: 17px;
			height: 13px;
		}
	}

	&--loupe {
		width: 12px;
		height: 13px;
	}

	&--switch {
		width: 13px;
		height: 10px;
	}
}
