.modal {
	display: none;
	position: absolute;
	top: 55px;
	left: 0;
	width: 100%;
	height: calc(100% - 55px);
	background: $white;
	z-index: 5;
	transform: translateY(calc(-100% - 55px));
	transition: transform .25s ease;

	@media screen and (max-width: 499px) {
		display: block;
	}

	&--active {
		transform: translateY(0);
	}
}
