.step {
	display: grid;
	grid-template-columns: 138px repeat(3, 1fr);
	margin-bottom: 26px;

	@media screen and (max-width: 767px) {
		grid-template-columns: repeat(4, 1fr);
	}

	@media screen and (max-width: 499px) {
		grid-template: repeat(4, 1fr) / 130px;
		row-gap: 10px;
	}

	&__item {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		position: relative;

		&:first-child {
			justify-content: space-between;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: calc(100% - 30px);
			height: 2px;
			transform: translateY(4px);
			background: $gray;

			@media screen and (max-width: 499px) {
				display: none;
			}
		}

		&:after {
			content: attr(data-status);
			display: none;
			position: absolute;
			right: -75%;
			@extend %text--semimedium;

			@media screen and (max-width: 499px) {
				display: block;
			}
		}

		@media screen and (max-width: 499px) {
			align-items: center;
			justify-content: space-between;
		}

		&--active {
			&:before {
				background: $turquoise;
			}

			&:after {
				color: $gray;
			}

			.step {
				&__icon {
					border-color: $turquoise;
				}

				&__name {
					color: $turquoise;
				}
			}
		}

		&--done {
			&:before {
				background: $turquoise;
			}

			&:after {
				color: $turquoise;
			}

			.step {
				&__icon {
					border-color: $turquoise;
					background: $turquoise;
				}

				&__name {
					color: $turquoise;
				}
			}
		}
	}

	&__name {
		display: inline-block;
		@extend %text--medium;
		color: $gray;
		margin-bottom: 18px;

		&--2, &--3 {
			margin-right: 9px;
		}

		&--4 {
			margin-right: 4px;
		}

		@media screen and (max-width: 499px) {
			margin: 0;
		}
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border-radius: 15px;
		border: 2px solid $gray;
		background: $white;
		box-shadow: 0 2px 2px 0 rgba($black, .15);
	}
}
