extends includes/layout

block title
	title Главная

block content
			
	.wrapper
		include includes/header
		
		main.main
			include  includes/content-1
			include  includes/content-2
			include  includes/content-3
			include  includes/content-4
			include  includes/content-5
			include  includes/content-6
							
		include  includes/tabs
