<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="max-age=31536000, public">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <title>Главная</title>
    <link rel="favicon" href="favicon/favicon.ico">
    <link rel="stylesheet" href="style.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script defer src="js/script.min.js"></script>
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" style="position:absolute;" aria-hidden="true" focusable="false"></svg>
    <div class="wrapper">
      <header class="header"><a class="logo" href="#">
          <picture class="logo__img logo__img--main img"><img class="img__item" src="../logo.svg" alt="logo"></picture>
          <div class="header__controls">
            <div class="header__control">
              <svg class="icon icon--feedback">
                <use xlink:href="#feedback"></use>
              </svg>
            </div>
            <div class="header__control">
              <svg class="icon icon--help">
                <use xlink:href="#help"></use>
              </svg>
            </div>
          </div>
          <div class="header__user">
            <div class="header__name">John Johnson</div>
            <button class="header__btn">
              <svg class="icon icon--arrow">
                <use xlink:href="#arrow"></use>
              </svg>
            </button>
            <picture class="logo__img logo__img--single img"><img class="img__item" src="../logo-single.svg" alt="logo-single"></picture>
          </div></a></header>
      <main class="main"></main>
      <footer class="footer"></footer>
    </div>
  </body>
</html>