
<div class="main__content" data-content="1">
  <div class="step">
    <div class="step__item step__item--done"><span class="step__name">1. Step</span>
      <div class="step__icon step__icon--1">
        <svg class="icon icon--step-1">
          <use class="icon__item" xlink:href="#step1"></use>
        </svg>
      </div>
    </div>
    <div class="step__item step__item--done"><span class="step__name">2. Step</span>
      <div class="step__icon step__icon--2">
        <svg class="icon icon--step-2">
          <use class="icon__item" xlink:href="#step2"></use>
        </svg>
      </div>
    </div>
    <div class="step__item step__item--active"><span class="step__name">3. Step</span>
      <div class="step__icon step__icon--3">
        <svg class="icon icon--step-3">
          <use class="icon__item" xlink:href="#step3"></use>
        </svg>
      </div>
    </div>
    <div class="step__item"><span class="step__name">4. Step</span>
      <div class="step__icon step__icon--4">
        <svg class="icon icon--step-4">
          <use class="icon__item" xlink:href="#step4"></use>
        </svg>
      </div>
    </div>
  </div>
  <form class="form" action="#">
    <h3 class="form__title form__title--fraction">Shipper Details</h3>
    <div class="form__wrap form__wrap--company">
      <div class="form__field">
        <label class="form__label form__label--search">
          <input class="form__input" type="search" placeholder="Company Autocomplete"/>
          <button class="form__btn form__btn--search">
            <svg class="icon icon--loupe">
              <use class="icon__item" xlink:href="#loupe"></use>
            </svg>
          </button>
        </label>
      </div>
      <div class="form__field">
        <h4 class="form__title form__title--field">Company name</h4>
        <label class="form__label">
          <input class="form__input" type="text" placeholder="Company name"/>
        </label>
      </div>
    </div>
    <h3 class="form__title form__title--fraction form__title--fract-2">Shipment Details</h3>
    <div class="form__table">
      <header class="form__header">
        <div class="form__col form__col--header"><span class="form__name">Handling Unit Type (H/U)</span></div>
        <div class="form__col form__col--header"><span class="form__name"># of H/U</span></div>
        <div class="form__col form__col--header"><span class="form__name">H/U Dimensions</span></div>
        <div class="form__col form__col--header"><span class="form__name">Stackable</span></div>
        <div class="form__col form__col--header"><span class="form__name">Commodity Descriprion</span></div>
        <div class="form__col form__col--header"><span class="form__name">NMFC</span></div>
        <div class="form__col form__col--header"><span class="form__name">Class</span></div>
        <div class="form__col form__col--header"><span class="form__name"># of Pieces</span></div>
        <div class="form__col form__col--header"><span class="form__name">Total Weight</span></div>
        <div class="form__col form__col--header"><span class="form__name">HazMat</span></div>
      </header>
      <div class="form__body">
        <div class="form__line form__line--info">
          <div class="form__col form__col--body" data-title="Handling Unit Type (H/U)"><span class="form__value">Pallets</span></div>
          <div class="form__col form__col--body" data-title="# of H/U"><span class="form__value">3</span></div>
          <div class="form__col form__col--body" data-title="H/U Dimensions"><span class="form__value">15 х 25 х 23 in</span></div>
          <div class="form__col form__col--body" data-title="Stackable"><span class="form__value">Yes</span></div>
          <div class="form__col form__col--body" data-title="Commodity Descriprion">
            <label class="form__label form__label--search">
              <input class="form__input" type="search" placeholder="Commodity Descriprion" value="Multigrain Snacks..., 300"/>
              <button class="form__btn form__btn--search">
                <svg class="icon icon--loupe">
                  <use class="icon__item" xlink:href="#loupe"></use>
                </svg>
              </button>
            </label>
          </div>
          <div class="form__col form__col--body" data-title="NMFC">
            <label class="form__label">
              <input class="form__input" type="text" placeholder="NMFC"/>
            </label>
          </div>
          <div class="form__col form__col--body" data-title="Class"><span class="form__value">1</span></div>
          <div class="form__col form__col--body" data-title="# of Pieces"><span class="form__value">1</span></div>
          <div class="form__col form__col--body" data-title="Total Weight"><span class="form__value">400 lbs</span></div>
          <div class="form__col form__col--body" data-title="HazMat">
            <label class="form__label form__label--checkbox">
              <input class="form__input form__input--checkbox" type="checkbox"/><small class="form__cell form__cell--hazmat"></small>
            </label>
          </div>
        </div>
        <div class="form__line form__line--info">
          <div class="form__col form__col--body" data-title="Handling Unit Type (H/U)"><span class="form__value"></span></div>
          <div class="form__col form__col--body" data-title="# of H/U"><span class="form__value"></span></div>
          <div class="form__col form__col--body" data-title="H/U Dimensions"><span class="form__value"></span></div>
          <div class="form__col form__col--body" data-title="Stackable"><span class="form__value"></span></div>
          <div class="form__col form__col--body" data-title="Commodity Descriprion">
            <label class="form__label form__label--search">
              <input class="form__input" type="search" placeholder="Commodity Descriprion" value="Multigrain Snacks..., 300"/>
              <button class="form__btn form__btn--search">
                <svg class="icon icon--loupe">
                  <use class="icon__item" xlink:href="#loupe"></use>
                </svg>
              </button>
            </label>
          </div>
          <div class="form__col form__col--body" data-title="NMFC">
            <label class="form__label">
              <input class="form__input" type="text" placeholder="NMFC"/>
            </label>
          </div>
          <div class="form__col form__col--body" data-title="Class"><span class="form__value">1</span></div>
          <div class="form__col form__col--body" data-title="# of Pieces"><span class="form__value">1</span></div>
          <div class="form__col form__col--body" data-title="Total Weight"><span class="form__value">400 lbs</span></div>
          <div class="form__col form__col--body" data-title="HazMat">
            <label class="form__label form__label--checkbox">
              <input class="form__input form__input--checkbox" type="checkbox" checked="checked"/><small class="form__cell form__cell--hazmat"></small>
            </label>
          </div>
        </div>
        <div class="form__line form__line--add">
          <div class="form__wrap form__wrap--fields"></div>
        </div>
        <div class="form__line form__line--info">
          <div class="form__col form__col--body" data-title="Handling Unit Type (H/U)"><span class="form__value">Pallets</span></div>
          <div class="form__col form__col--body" data-title="# of H/U"><span class="form__value">3</span></div>
          <div class="form__col form__col--body" data-title="H/U Dimensions"><span class="form__value">15 х 25 х 23 in</span></div>
          <div class="form__col form__col--body" data-title="Stackable"><span class="form__value">Yes</span></div>
          <div class="form__col form__col--body" data-title="Commodity Descriprion">
            <label class="form__label form__label--search">
              <input class="form__input" type="search" placeholder="Commodity Descriprion" value="Multigrain Snacks..., 300"/>
              <button class="form__btn form__btn--search">
                <svg class="icon icon--loupe">
                  <use class="icon__item" xlink:href="#loupe"></use>
                </svg>
              </button>
            </label>
          </div>
          <div class="form__col form__col--body" data-title="NMFC">
            <label class="form__label">
              <input class="form__input" type="text" placeholder="NMFC"/>
            </label>
          </div>
          <div class="form__col form__col--body" data-title="Class"><span class="form__value">1</span></div>
          <div class="form__col form__col--body" data-title="# of Pieces"><span class="form__value">1</span></div>
          <div class="form__col form__col--body" data-title="Total Weight"><span class="form__value">400 lbs</span></div>
          <div class="form__col form__col--body" data-title="HazMat">
            <label class="form__label form__label--checkbox">
              <input class="form__input form__input--checkbox" type="checkbox"/><small class="form__cell form__cell--hazmat"></small>
            </label>
          </div>
        </div>
      </div>
      <footer class="form__footer">
        <label class="form__label form__label--checkbox form__label--agree">
          <input class="form__input form__input--checkbox" type="checkbox"/><small class="form__cell form__cell--agree"></small>
          <p class="form__text form__text--agree">I agree to the <a class="form__link" href="#">Terms and Conditions</a></p>
        </label>
        <input class="form__btn form__btn--submit" type="submit" value="Dispatch"/>
      </footer>
    </div>
  </form>
</div>