
<header class="header"><a class="logo" href="#">
    <picture class="logo__img logo__img--main img"><img class="img__item" src="img/logo.png" alt="logo"/></picture></a>
  <div class="header__controls"><a class="header__control header__control--feedback" href="#">Feedback</a><a class="header__control header__control--help" href="#">Help</a></div>
  <div class="header__user"><span class="header__name">John Johnson</span>
    <button class="header__btn">
      <svg class="icon icon--arrow">
        <use class="icon__item" xlink:href="#arrow"></use>
      </svg>
    </button>
    <picture class="logo__img logo__img--single img"><img class="img__item" src="img/logo-single.png" alt="logo-single"/></picture>
  </div>
</header>