
<header class="header"><a class="logo" href="#">
    <picture class="logo__img logo__img--main img"><img class="img__item" src="img/logo.png" alt="logo"/></picture></a>
  <div class="header__controls"><a class="header__control header__control--feedback" href="#">Feedback</a><a class="header__control header__control--help" href="#">Help</a></div>
  <div class="header__wrap">
    <button class="header__btn" id="showSettings" type="button"><span class="header__user">John Johnson</span>
      <div class="header__icon">
        <svg class="icon icon--arrow">
          <use class="icon__item" xlink:href="#arrow"></use>
        </svg>
      </div>
      <ul class="header__list">
        <li class="header__item"><a class="header__link" href="#">Edit</a></li>
        <li class="header__item"><a class="header__link" href="#">Settings</a></li>
        <li class="header__item"><a class="header__link" href="#">Sing out</a></li>
      </ul>
    </button>
    <picture class="logo__img logo__img--single img"><img class="img__item" src="img/logo-single.png" alt="logo-single"/></picture>
  </div>
</header>