
<div class="modal">
  <nav class="controls controls--mobile"><a class="controls__item controls__item--feedback" href="#">
      <svg class="icon icon--feedback">
        <use class="icon__item" xlink:href="#feedback"></use>
      </svg><span class="controls__name controls__name--feedback">Feedback</span></a><a class="controls__item controls__item--help" href="#">
      <svg class="icon icon--help">
        <use class="icon__item" xlink:href="#help"></use>
      </svg><span class="controls__name controls__name--help">Help</span></a></nav>
</div>