
<div class="modal">
  <nav class="header__controls header__controls--mobile"><a class="header__control header__control--feedback" href="#">
      <svg class="icon icon--feedback">
        <use class="icon__item" xlink:href="#feedback"></use>
      </svg><span class="header__control-text header__control-text--feedback">Feedback</span></a><a class="header__control header__control--help" href="#">
      <svg class="icon icon--help">
        <use class="icon__item" xlink:href="#help"></use>
      </svg><span class="header__control-text header__control-text--help">Help</span></a></nav>
</div>