
<nav class="tabs">
  <div class="tabs__wrap">
    <button class="tabs__btn tabs__btn--show" id="showtabs" type="button">
      <svg class="icon icon--switch">
        <use class="icon__item" xlink:href="#switch"></use>
      </svg>
    </button>
    <ul class="tabs__list">
      <li class="tabs__item tabs__item--active">
        <button class="tabs__btn tabs__btn--point" type="button" data-tab="1">
          <svg class="icon icon--point icon--point-1">
            <use class="icon__item" xlink:href="#tab1"></use>
          </svg><span class="tabs__name">Point 1</span>
        </button>
      </li>
      <li class="tabs__item">
        <button class="tabs__btn tabs__btn--point" type="button" data-tab="2">
          <svg class="icon icon--point icon--point-2">
            <use class="icon__item" xlink:href="#tab2"></use>
          </svg><span class="tabs__name">Point 2</span>
        </button>
      </li>
      <li class="tabs__item">
        <button class="tabs__btn tabs__btn--point" type="button" data-tab="3">
          <svg class="icon icon--point icon--point-3">
            <use class="icon__item" xlink:href="#tab3"></use>
          </svg><span class="tabs__name">Point 3</span>
        </button>
      </li>
      <li class="tabs__item">
        <button class="tabs__btn tabs__btn--point" type="button" data-tab="4">
          <svg class="icon icon--point icon--point-4">
            <use class="icon__item" xlink:href="#tab4"></use>
          </svg><span class="tabs__name">Point 4</span>
        </button>
      </li>
      <li class="tabs__item">
        <button class="tabs__btn tabs__btn--point" type="button" data-tab="5">
          <svg class="icon icon--point icon--point-5">
            <use class="icon__item" xlink:href="#tab5"></use>
          </svg><span class="tabs__name">Point 5</span>
        </button>
      </li>
      <li class="tabs__item">
        <button class="tabs__btn tabs__btn--point" type="button" data-tab="6">
          <svg class="icon icon--point icon--point-6">
            <use class="icon__item" xlink:href="#tab6"></use>
          </svg><span class="tabs__name">Point 6</span>
        </button>
      </li>
    </ul>
  </div>
</nav>